@import "@maschina/ui/styles";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "SohneMono";
  src: url("/fonts/SohneMono-Buch.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne-Leicht.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "SohneMono", monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.08) transparent;
}

pre code {
  background: transparent !important;
}
